h1 {color:black;
  text-align: center;
  text-shadow: 5px 2px lightblue;
  font-family:font;
  font-size: 90px
}

h2 {text-align: center;
    text-shadow: 5px 2px lightblue;
    font-family: font;
    font-size: 36px
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {text-align: center;
      font-family: font;
      font-size: 36px
}

@font-face {
   font-family: 'font';
   src: url("font.ttf");
   src: local('font'), url('font.ttf') format('truetype');
}
