.titolo {width: 20%;
display: inline;
margin-left: 0px;
padding-left: 0px;
margin-right: 35%;
margin-bottom: 0%;
padding-top: 2%
}

.head {text-align: center;}

h1 {padding: 0.2%;
    font-size: 25px;
  }

  .info {position: absolute;
    left: 93%;
    top: 6%;
  text-align: right;
  margin:0px;
  padding:0px;
 font-size: 25px;
 font-weight: lighter;}

.container {
 position: relative;
 padding-top: 0%;
 width:82%;
 display: table-cell;
 vertical-align: top;
}

.container img {
 width: 60%;
 height: auto;
}

.container .gif {position: absolute;
top:6%;
left:13%;
width:70%}

.container .bsx {
 position: absolute;
 top: 50%;
 left: 20%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 background-color: transparent;
 color: white;
 font-size: 16px;
 padding-top:19%;
 padding-bottom:19%;
 padding-left:0.6%;
 padding-right: 0.1%;
 border: none;
 cursor: pointer;
 border-radius: 5px;
 cursor: pointer;
     }

 .container .bdx {
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding-top:19%;
  padding-bottom:19%;
  padding-left:0.1%;
  padding-right: 0.6%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
          }

.containergear .mySlides {position:absolute;
width:30%;
top:25%;
left:21%;
}
 img {
   margin-left:19.5%;
        width: 60%;
    }

a {color: black;
  text-decoration: none;

}
a:hover {color:grey}



.box1{
  padding-left:0.5%;
  width:18%;
  display: table-cell;
  vertical-align: top;

}


  body {font-family: font;
        font-size: 36px;
  }

  @font-face {
     font-family: 'font';
     src: url("font.ttf");
     src: local('font'), url('font.ttf') format('truetype');
  }
