   .titolo {width: 15%;
  }

h1 {padding: 20px;
    margin: 1px;
}

button {border-radius: 12px;
        color:black;
        background-color: rgba(0,0,0,0.09);
        padding: 1px 80px;
        opacity:0.7
      }

button:hover {
   box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   cursor:help;
 }

.uno:hover {color: grey;
}

.due:hover {color: grey;}

.uno {color: black;
      float: right;
      margin-right: 100px;
      padding-bottom: 0px}


.due {color:black;
      float: left;
      margin-left: 100px;
      padding: 0px;
    }

p {align="middle"}
h2 {text-align: center;
    font-kerning: 5px;
    /text-shadow: 5px 2px grey;/
    font-family: font;
    font-size: 42px;
    padding-top: 15px;
    padding-bottom: 30px;
    margin: 1px
  }

  img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }

  body {text-align: center;
        font-family: font;
        font-size: 36px
  }


  @font-face {
     font-family: 'font';
     src: url("font.ttf");
     src: local('font'), url('font.ttf') format('truetype');
  }
